:root {
    --scrollbar-width: calc(100vw - 100%);
}

.carousel {
    display: block;
    /*position: relative;*/
}

.blk {
    display: block;
}

.flickity-enabled {
    position: relative;
}

.flickity-enabled:focus { outline: none; }

.main-bg .flickity-viewport {
    overflow: hidden;
    position: relative;
    height: 94vh !important;
}

.main-bg .carousel-cell img {
    transform: scale(1.15);
    transition: transform 1.4s;
}

.main-bg .carousel-cell.is-selected img {
    transform: scale(1);
}

.news-testimonial .flickity-viewport {
    overflow: hidden;
    position: relative;
    height: 150px;
}

.benefits .flickity-viewport {
    overflow: hidden;
    position: relative;
    height: 300px;
}

.main-bg .flickity-slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: calc(100vw - var(--scrollbar-width));
}

.news-testimonial .flickity-slider {
    position: relative;
    height: 150px;
    margin: auto;
}

.benefits .flickity-slider {
    position: relative;
    height: 300px;
    margin: auto;
}

.news-testimonial {
    /*width: 300px;*/
    margin: auto;
}


.main-bg .carousel-cell {
    height: 100%;
    width: calc(100vw - var(--scrollbar-width));
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    /*border: solid 2px green;*/
}

.BrandWrapper {
    width:150px;
    margin-left: auto;
    margin-right: auto;
}

.BenefitsWrapper {
    width:300px;
    margin-left: auto;
    margin-right: auto;
}

.news-testimonial .carousel-cell {
    height: 150px;
    width: 150px;
    position: absolute;
}


/*.benefitsText {*/
/*    !*animation: dropDown 1.4s forwards;*!*/
/*    animation: riseUpNoDelay 1.4s forwards;*/
/*}*/

.benefitsText.selected {

}


.benefits .carousel-cell {
    height: 300px;
    width: 300px;
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-around;
}


.main-bg .carouselImage {
    object-fit: cover;
    object-position: center;
    height: 94vh;
    width: calc(100vw - var(--scrollbar-width));
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    /*border: solid 1px red;*/
}

/*.news-testimonial .carouselImage {*/
/*    !*object-fit: cover;*!*/
/*    !*object-position: center;*!*/
/*    height: 150px;*/
/*    width: 150px;*/
/*    position: absolute;*/
/*}*/

.benefits .carouselImage {
    height: 150px;
    width: 150px;
    /*position: absolute;*/
}

.benefits .carouselText {
    /*position: flex;*/
    text-align: center;
}

/* draggable */

.flickity-enabled.is-draggable {
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

/* ---- page dots ---- */

.main-bg .flickity-page-dots {
    position: absolute;
    /*width: 100%;*/
    bottom: 5vh;
    right: 2vw;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    line-height: 1;
}

.news-testimonial .flickity-page-dots {
    position: relative;
    bottom: -1.875rem;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    width: 150px;
    line-height: 1;
}

.benefits .flickity-page-dots {
    position: relative;
    bottom: -1.875rem;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    width: 300px;
    line-height: 1;
}


.flickity-rtl .flickity-page-dots { direction: rtl; }

.flickity-page-dots .flickity-page-dot {
    padding: 0;
    font-size: 0;
    width: 16px;
    height: 16px;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    border-width: 2px;
    border-color: #1C150E;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.news-testimonial .flickity-page-dots .flickity-page-dot {
    padding: 0;
    font-size: 0;
    width: 12px;
    height: 12px;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    border-width: 2px;
    border-color: #1C150E;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.benefits .flickity-page-dots .flickity-page-dot {
    padding: 0;
    font-size: 0;
    width: 12px;
    height: 12px;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    border-width: 2px;
    border-color: #1C150E;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.flickity-page-dots .is-selected {
    background-color: #1C150E;
}

.news-testimonial .flickity-page-dots .is-selected {
    background-color: #1C150E;
}

.benefits .flickity-page-dots .is-selected {
    background-color: #1C150E;
}

/*html {*/
/*    overflow-y: scroll;*/
/*}*/