@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes dropDown {
    0% { opacity: 1; transform: translateY(0); }
    100% { opacity: 0; transform: translateY(50px); }
}

@keyframes riseUp {
    0%, 60% { opacity: 0; transform: translateY(50px); }
    100% { opacity: 1; transform: translateY(0); }
}

@keyframes riseUpNoDelay {
    0% { opacity: 0; transform: translateY(50px); }
    100% { opacity: 1; transform: translateY(0); }
}


.riseUp {
    animation: riseUp 1s forwards;
}

.displayFont {
    font-family: bely display, sans-serif;
    font-weight: 400;
}

.navBar {
    top: 0;
    left: 0;
    right: 0;
    height: auto;
    position: fixed;
    z-index: 250;
    background-color: transparent;
    transition: background-color 0.4s;
    height: 89px;
}

.navBarWithAnnouncement {
    top: 45px; /* or the height of your announcement bar */
}

.navBar:hover,
.navBar.scrolled {
    background-color: #FCFAF4;
    border-bottom: solid 1px #E5E4DF;
}

.AnnouncementBar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #8B8662; /* use the desired background color here */
    z-index: 60;
}

.loraFont {
    font-family: 'Lora', serif;
}

.loraBold {
    font-family: 'Lora', serif;
    font-weight: 700;
}

.border-b {
    border-bottom: solid 1px #E5E4DF;
}

.border-t {
    border-top: solid 1px #E5E4DF;
}

.inputBox {
    border: solid 1px #545324;
    color: #1C150E;

}

.inputBox::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #443322;
    opacity: 1; /* Firefox */
}

.inputBox:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #443322;
}

.inputBox::-ms-input-placeholder { /* Microsoft Edge */
    color: #443322;
}


.inputBox2 {
    border: solid 1px #545324;
    color: #F9F4ED;

}

.inputBox2::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #F6EFE4;
    opacity: 1; /* Firefox */
}

.inputBox2:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #F6EFE4;
}

.inputBox2::-ms-input-placeholder { /* Microsoft Edge */
    color: #F6EFE4;
}

.navWrapper {
    padding: 8px 18px;
    height: 89px;
}

@media (min-width: 641px) {
    .navWrapper {
        padding: 12px 30px;
    }
}

@media (min-width: 1140px) {
    .navWrapper {
        padding: 12px 50px;
    }
}

.HeroText{
    position: absolute;
    max-width: 94vw;
    z-index: 30;
    top: 35vh;
    display: flex;
    flex-direction: column;
    padding: 3vh 5vw;
}

.HeroText3{
    position: absolute;
    max-width: 94vw;
    z-index: 30;
    top: 60vh;
    display: flex;
    flex-direction: column;
    padding: 3vh 5vw;
}

@media (max-width: 1023px) {
    .HeroText3 {
        color: #F9F4ED;
    }
}

.HeroText2{
    position: absolute;
    max-width: 94vw;
    z-index: 20;
    top: 22vh;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: 3vh 5vw;
    align-items: flex-end;
    text-align: right;
    color: #F9F4ED;
}


.HeroSubHeader{
    font-size: 1rem;
    line-height: 1.25rem;
}

.HeroHeader{
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    letter-spacing: 1px;
    padding-top: 1.125rem;
    padding-bottom: 2.5rem;
}


.HeroButton {
    color: #F9F4ED;
    background-color: #545324;
    padding: 8px 16px;
    display: flex;
    font-size: 0.875rem;
    line-height: 1.5rem;
    letter-spacing: 1px;
    align-items: center;
    z-index: 30;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.HeroButton:hover {
    color: #545324;
    background-color: transparent;
    font-weight: 600;
}

.HeroButton:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -100%;
    left: 0;
    background: #545324;
    opacity: 0.2;
    transition: all 2s ease-in-out;
}


.HeroButton:hover:before {
    bottom: 0;
}


.HeroButtonLight {
    color: #525C3D;
    background-color: #F9F4ED;
    padding: 8px 16px;
    display: flex;
    font-size: 0.875rem;
    line-height: 1.5rem;
    letter-spacing: 1px;
    align-items: center;
    z-index: 20;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

.HeroButtonLight:hover {

    background-color: #F6EFE4;
    font-weight: 600;
}

.HeroButtonLight:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -100%;
    left: 0;
    background: #494C0B;
    opacity: 0.2;
    transition: all 2s ease-in-out;
}


.HeroButtonLight:hover:before {
    bottom: 0;
}

.text-xlg{
    font-size: 1rem;
    line-height: 1.625rem;
}

.NewsImage{
    height: 150px;
    width: 150px;
}

.BenefitsImage{
    height: 150px;
    width: 150px;
}

@media (min-width: 1024px) {
    .NewsImage {
        opacity: 0.4;
        cursor: pointer;
    }

    .NewsImage.selected {
        opacity: 1;
    }
}

@media (min-width: 1024px) {
    .BenefitsImage {
        opacity: 0.25;
    }

    .BenefitsImage.selected {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .mobile-hidden {
    display: none !important;
}
}

@media (min-width: 769px) and (max-width: 1024px) {
    .tablet-hidden {
        display: none !important;
    }
}

@media (min-width: 1025px) {
    .desktop-hidden {
        display: none !important;
    }
}

.featured-collection {
    text-align: center;
    justify-items: center;
    width: 85vw;
}

.featured-collection-images {
    display: flex;
    justify-content: space-around;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    height: auto;
}

.featured-img-wrapper {
    width: 100%;
    height: auto;
    margin: 1rem;
}

.featured-collection-images .featured-img-0 {
    border: 6px solid #A3A672;
}

.featured-collection-images .featured-img-1 {
    border: 6px solid #7A7E43;
}

.featured-collection-images .featured-img-2 {
    border: 6px solid #796E4A;
}

.darkerbg {
    background-color: #F6EFE4;
}


.testmargin {
    margin-top: 8000px;
    /*margin-top: 8px;*/
    max-width: 50px;
}

.carousel-cell-wrapper {
    position: relative;
}

.HeroText, .HeroText2, .HeroText3 {
    animation: dropDown 0.5s forwards;
}

.carousel-cell.is-selected .HeroText,
.carousel-cell.is-selected .HeroText2,
.carousel-cell.is-selected .HeroText3 {
    animation: riseUp 1.5s forwards;
}

.imageWrapper {
    overflow: hidden;
}

.blogImage {
    width: 100%;
    height: auto;
    transition: transform 4s ease-in-out;
}

.blogImage:hover {
    transform: scale(1.2);
}

.blogUnit {

    width: 100%;
    height: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

@media (min-width: 1425px) {
    .blogUnit {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

.blogAuthor {
    color: #77593C;
}

.clickMore {
    color: #333E19;
    text-decoration: underline;
}

.clickMore:hover {
    color: #333E19;
    font-weight: bold;
}

.blogWrapper {
    width: 85vw;
    display: flex;
    justify-items: center;
    flex-direction: column;
}

@keyframes focus-in {
    0% {
        opacity: 0;
        transform: scale(1.2);
    }
    100% {
        opacity: 1;
        transform: scale(1.0);
    }
}



.newsletterBg {
    position: relative;
    overflow: hidden;
}


.newsletterBg .background {
    background-image: url('../assets/site/matchaTile3.webp');
    animation: focus-in 1.8s ease-out forwards;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.desktopIcon {
    width: 208px;
    height: 72px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mobileIcon {
    width: 90px;
    height: 54px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
}


.footer {
    background-color: #8B8662;
}

.darkBrownFont {
    color: #443322;
}

.footer-section-header {
    color: #443322;
    letter-spacing: 0.025em;
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin-bottom: 0.875rem;
}

.socialIcon {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 1.25rem;
}

.section-link {
    margin-bottom: 0.5rem;
}

.section-link:hover {
    color: #F9F4ED;
}

.footer-section {
    margin-bottom: 1.5rem;
}


.footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 4rem;
    padding-bottom: 2.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    justify-content: space-between;
}

.mobileAbout {
    position:relative;
    min-height: 440px;
}

.AboutBgWrapper {
    min-height: 500px;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #F9F4ED;
    z-index: 1;
}

.Overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Adjust the alpha value (last parameter) for darkness level */
    z-index: 2;
}

@media (min-width: 730px) {
    .footer {
        flex-direction: row;
    }
    .footer-section {
        max-width: 45vw;
    }
}

@media (min-width: 1024px) {
    .footer-section {
        max-width: 30vw;
    }
    .footer {
        justify-content: space-around;
        padding-left: 2.625rem;
        padding-right: 2.625rem;
    }
}

.ActiveAboutTab {
    color: #443322;
    letter-spacing: 0.08em;
    --tw-scale-x: 1.55;
    --tw-scale-y: 1.3;
    font-size: 1.375rem;
    line-height: 1.875rem;
    transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
    cursor: pointer;
    padding-left: 1rem;
    padding-right: 1rem;
    position: relative;
}

.ActiveAboutTab::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #443322;
    transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1);
    transform-origin: left center;
}


@media (max-width: 365px) {

    .AboutBlock .ActiveAboutTab {
        font-size: 1.125rem;
        line-height: 1.75rem;
        padding-left: 0.625rem;
        padding-right: 0.625rem;
        --tw-scale-x: 1.35;
        --tw-scale-y: 1.2;
    }

    .AboutBlock .PassiveAboutTab {
        padding-left: 0.625rem;
        padding-right: 0.625rem;
    }

}

.PassiveAboutTab {

    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #77593C;
    letter-spacing: 0.05em;
    transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
    cursor: pointer;
    padding-left: 1rem;
    padding-right: 1rem;
}

.PassiveAboutTab::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #77593C;
    transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1);
    transform-origin: left center;
}

.PassiveAboutTab:hover::before {
    width: 15%; /* expand the underline to full width on hover */
}

.AboutMainText {
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: 1px;
}

.AboutGreen {
    color: #333E19;
    /*justify-content: center;*/
}

.AboutTextBlock {
    display: flex;
    flex-direction: column;
    max-width: min(700px, 40vw);
    max-height: 492px;
    overflow-y: auto;
    z-index: 2;
}

.AboutBlock {
    background-color: #F6EFE4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.AboutContentWrapper {
    max-width: min(70vw, 1300px);
    min-height: 320px;
    background-color: #A3A672;
}

/*(min-width: 1024px) and*/

@media (max-width: 1024px) {
    .AboutTextBlock {
      max-width: unset;
        color: #D9D9D9;
    }

    .AboutContentWrapper{
        max-width: 80vw;
        background-color: unset;
    }

    .AboutGreen {
        color: #B2B795;
    }

    .AboutBgWrapper {
        min-height: unset;
    }
}

.mobileTextWrapper {
    width: 80%; /* Set the desired width for the text wrapper */
    margin: 0 auto; /* Center the text wrapper horizontally */
    display: flex;
    flex-direction: column;
    animation: riseUpNoDelay 0.5s forwards;
}

/*@media (min-width: 769px) and (max-width: 1024px) {*/
/*    .*/
/*        max-width: unset;*/
/*        color: #D9D9D9;*/
/*    }*/
/*}*/

@media (min-width: 1024px) and (max-width: 1290px) {
    .AboutContentWrapper {
        max-width: min(85vw, 1300px);
    }
}



.AboutImageWrapper {
    max-width: 492px;
    height: 100%;
    min-width: 320px;
    min-height: 320px;
    position: relative;
    overflow: hidden;
}

.AboutImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*animation: slowFocus 1s ease-out forwards;*/
}

.slowFocusIn {
    animation: slowFocus 0.7s ease-out forwards;
}

@keyframes slowFocus {
    0% {
        opacity: 0.88;
        transform: scale(1.04);
    }
    100% {
        opacity: 1;
        transform: scale(1.0);
    }
}


.focusIn {
    animation: focus-in 1s ease-out forwards;
}



.MegaMenu {
    max-height: 80vh;
    position: absolute;
    padding: 20px 0;
    width: 100%;
    left: 0;
    top: 100%;
    background-color: #FCFAF4;
    opacity: 0;
    overflow: auto;
    -ms-scroll-chaining: none;
    overscroll-behavior: contain;
    text-align: left;
    border-bottom: solid 1px #E5E4DF;
    transition: all .3s ease-in-out;
    z-index: 200;
}

.MegaMenu.show {
    opacity: 1;
}

.navLink {
    position: relative;
}

.navLink::before {
    content: '';
    position: absolute;
    bottom: -32px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #A3A672;
    transition: width 1s ease;
    transform-origin: left center;
    z-index: 500;
}

.navLink:hover::before {
    width: 100%;
}