@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes dropDown {
    0% { opacity: 1; transform: translateY(0); }
    100% { opacity: 0; transform: translateY(50px); }
}

@keyframes riseUp {
    0%, 60% { opacity: 0; transform: translateY(50px); }
    100% { opacity: 1; transform: translateY(0); }
}

@keyframes riseUpNoDelay {
    0% { opacity: 0; transform: translateY(50px); }
    100% { opacity: 1; transform: translateY(0); }
}

.displayFont {
    font-family: bely display, sans-serif;
    font-weight: 400;
}

.navBar {
    top: 0;
    left: 0;
    right: 0;
    height: auto;
    position: fixed;
    z-index: 20;
    background-color: transparent;
    transition: background-color 0.4s;

}

.navBar:hover,
.navBar.scrolled {
    background-color: #FCFAF4;
    border-bottom: solid 1px #E5E4DF;
}

.border-b {
    border-bottom: solid 1px #E5E4DF;
}

.border-t {
    border-top: solid 1px #E5E4DF;
}

.inputBox {
    border: solid 1px #545324;
    color: #1C150E;

}

.inputBox::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #443322;
    opacity: 1; /* Firefox */
}

.inputBox:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #443322;
}

.inputBox::-ms-input-placeholder { /* Microsoft Edge */
    color: #443322;
}


.inputBox2 {
    border: solid 1px #545324;
    color: #F9F4ED;

}

.inputBox2::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #F6EFE4;
    opacity: 1; /* Firefox */
}

.inputBox2:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #F6EFE4;
}

.inputBox2::-ms-input-placeholder { /* Microsoft Edge */
    color: #F6EFE4;
}

.navWrapper {
    padding: 8px 18px;
}

@media (min-width: 641px) {
    .navWrapper {
        padding: 12px 30px;
    }
}

@media (min-width: 1140px) {
    .navWrapper {
        padding: 12px 50px;
    }
}

.HeroText{
    position: absolute;
    max-width: 94vw;
    z-index: 30;
    top: 35vh;
    display: flex;
    flex-direction: column;
    padding: 3vh 5vw;
}

.HeroText3{
    position: absolute;
    max-width: 94vw;
    z-index: 30;
    top: 60vh;
    display: flex;
    flex-direction: column;
    padding: 3vh 5vw;
}

@media (max-width: 1023px) {
    .HeroText3 {
        color: #F9F4ED;
    }
}

.HeroText2{
    position: absolute;
    max-width: 94vw;
    z-index: 20;
    top: 22vh;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: 3vh 5vw;
    align-items: flex-end;
    text-align: right;
    color: #F9F4ED;
}


.HeroSubHeader{
    font-size: 1rem;
    line-height: 1.25rem;
}

.HeroHeader{
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    letter-spacing: 1px;
    padding-top: 1.125rem;
    padding-bottom: 2.5rem;
}


.HeroButton {
    color: #F9F4ED;
    background-color: #545324;
    padding: 8px 16px;
    display: flex;
    font-size: 0.875rem;
    line-height: 1.5rem;
    letter-spacing: 1px;
    align-items: center;
    z-index: 30;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.HeroButton:hover {
    color: #545324;
    background-color: transparent;
    font-weight: 600;
}

.HeroButton:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -100%;
    left: 0;
    background: #545324;
    opacity: 0.2;
    transition: all 2s ease-in-out;
}


.HeroButton:hover:before {
    bottom: 0;
}


.HeroButtonLight {
    color: #525C3D;
    background-color: #F9F4ED;
    padding: 8px 16px;
    display: flex;
    font-size: 0.875rem;
    line-height: 1.5rem;
    letter-spacing: 1px;
    align-items: center;
    z-index: 20;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

.HeroButtonLight:hover {

    background-color: #F6EFE4;
    font-weight: 600;
}

.HeroButtonLight:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -100%;
    left: 0;
    background: #494C0B;
    opacity: 0.2;
    transition: all 2s ease-in-out;
}


.HeroButtonLight:hover:before {
    bottom: 0;
}

.text-xlg{
    font-size: 1rem;
    line-height: 1.625rem;
}

.NewsImage{
    height: 150px;
    width: 150px;
}

.BenefitsImage{
    height: 150px;
    width: 150px;
}

@media (min-width: 1024px) {
    .NewsImage {
        opacity: 0.4;
        cursor: pointer;
    }

    .NewsImage.selected {
        opacity: 1;
    }
}

@media (min-width: 1024px) {
    .BenefitsImage {
        opacity: 0.25;
    }

    .BenefitsImage.selected {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .mobile-hidden {
    display: none !important;
}
}

@media (min-width: 769px) and (max-width: 1024px) {
    .tablet-hidden {
        display: none !important;
    }
}

@media (min-width: 1025px) {
    .desktop-hidden {
        display: none !important;
    }
}

.featured-collection {
    text-align: center;
    justify-items: center;
}

.featured-collection-images {
    display: flex;
    justify-content: space-around;
    margin-top: 24px;
    margin-bottom: 24px;
}

.featured-collection-images .featured-img {
    width: 300px;
    height: 300px;
}

.featured-collection-images .featured-img-0 {
    border: 6px solid #A3A672;
}

.featured-collection-images .featured-img-1 {
    border: 6px solid #7A7E43;
}

.featured-collection-images .featured-img-2 {
    border: 6px solid #796E4A;
}

.darkerbg {
    background-color: #F6EFE4;
}


.testmargin {
    margin-top: 8000px;
    /*margin-top: 8px;*/
    max-width: 50px;
}

.carousel-cell-wrapper {
    position: relative;
}

.HeroText, .HeroText2, .HeroText3 {
    animation: dropDown 0.5s forwards;
}

.carousel-cell.is-selected .HeroText,
.carousel-cell.is-selected .HeroText2,
.carousel-cell.is-selected .HeroText3 {
    animation: riseUp 1.7s forwards;
}

.imageWrapper {
    overflow: hidden;
}

.blogImage {
    width: 100%;
    height: auto;
    transition: transform 4s ease-in-out;
}

.blogImage:hover {
    transform: scale(1.2);
}

.blogUnit {

    width: 100%;
    height: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

@media (min-width: 1425px) {
    .blogUnit {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

.blogAuthor {
    color: #77593C;
}

.clickMore {
    color: #333E19;
    text-decoration: underline;
}

.clickMore:hover {
    color: #333E19;
    font-weight: bold;
}

.blogWrapper {
    width: 85vw;
    display: flex;
    justify-items: center;
    flex-direction: column;
}

.newsletterBg {
    background-image: url('../assets/site/matchaTile3.webp');
    /*background-size: cover;*/
}

.footer {
    background-color: #8B8662;
}

.darkBrownFont {
    color: #443322;
}

.footer-section-header {
    color: #443322;
    letter-spacing: 0.025em;
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin-bottom: 0.875rem;
}

.socialIcon {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 1.25rem;
}

.section-link {
    margin-bottom: 0.5rem;
}

.section-link:hover {
    color: #F9F4ED;
}

.footer-section {
    margin-bottom: 1.5rem;
}


.footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 4rem;
    bottom: 2.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    justify-content: space-between;
}

@media (min-width: 730px) {
    .footer {
        flex-direction: row;
    }
    .footer-section {
        max-width: 45vw;
    }
}

@media (min-width: 1024px) {
    .footer-section {
        max-width: 30vw;
    }
    .footer {
        justify-content: space-around;
        padding-left: 2.625rem;
        padding-right: 2.625rem;
    }
}

